/Install Script Source/Output/*
# Copy LEVEL and MISSION folders from the game CD
Patch/Base/Data/LEVEL/*
Patch/Base/Data/MISSION/*
Patch/Languages/*/frontend.exe
!Patch/Languages/English/frontend.exe
FrontendGen/Logs/*