/Inno/Output/*
# Copy LEVEL and MISSION folders from the game CD
Patch/Base/Data/LEVEL/*
Patch/Base/Data/MISSION/*
# Convert CD audio to .flac and .ogg 
Patch/Base/Music/*
# Patch executables from vcdiff and GenerateExe
Diff/*/frontend.exe
Diff/*/worms2.exe
Diff/xdelta3.exe
Patch/Languages/*/frontend.exe
Patch/Languages/*/worms2.exe
Patch/Languages/*/Data/Wav/BankEditor.exe
!Patch/Languages/English/Data/Wav/BankEditor.exe
GenerateExe/*/Logs/*