/Inno/Output/*
# Copy LEVEL and MISSION folders from the game CD
Patch/Base/Data/LEVEL/*
Patch/Base/Data/MISSION/*
Patch/Languages/*/frontend.exe
!Patch/Languages/English/frontend.exe
Patch/Languages/*/Data/Wav/BankEditor.exe
!Patch/Languages/English/Data/Wav/BankEditor.exe
GenerateExe/*/Logs/*